.k-grid tr.disable { background-color: #f4f2b0; }
.k-grid tr.green { background-color: #b9ff7c; }
.k-grid tr.blue { background-color: #70a5f9; }
.k-grid tr.red { background-color: #f9b6bd; }
.k-grid tr.grey { background-color: #f2f4ef; }

